@model DSCMS.Models.Template

@{
  ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
  <div class="form-horizontal">
    <h4>Template</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Name" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="LayoutId" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <select asp-for="LayoutId" class="form-control" asp-items="ViewBag.LayoutId"></select>
      </div>
    </div>
    <div class="form-group">
      <label asp-for="IsForContentType" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        @*<input asp-for="IsForContentType" class="form-control" />*@
        <select asp-for="IsForContentType" class="form-control" asp-items="ViewBag.Types"></select>
        <span asp-validation-for="IsForContentType" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="FileLocation" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="FileLocation" class="form-control" />
        <span asp-validation-for="FileLocation" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="FileContents" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="FileContents" class="form-control" />
        <span asp-validation-for="FileContents" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
