@model DSCMS.Models.ContentType

@{
	Layout = (string)ViewData["Layout"];
	/// Layout = null;
}

<div class="col-sm-8 blog-main">

	<div class="blog-post">

		<div style="margin-top: 30px;">
			<div class="list-group-item active">Resume</div>
			<a asp-controller="about" asp-action="brady-prigge-resume-html" target="_blank" rel="noopener noreferrer" class="list-group-item"><i class="fa fa-html5 fa-lg fa-fw" style="margin-right: 16px;"></i>HTML</a>
			<a href="../raw/resume/bradyPrigge.docx" class="list-group-item"><i class="fa fa-file-word-o fa-lg fa-fw" style="margin-right: 16px;"></i>Word</a>
			<a href="../raw/resume/bradyPrigge.pdf" target="_blank" rel="noopener noreferrer" class="list-group-item"><i class="fa fa-file-pdf-o fa-lg fa-fw" style="margin-right: 16px;"></i>PDF</a>
			<a href="../raw/resume/bradyPrigge.odt" class="list-group-item"><i class="fa fa-linux fa-lg fa-fw" style="margin-right: 16px;"></i>OpenDocument</a>
			<a href="https://docs.google.com/document/d/1vVTrvAy8TRS2As5Xg60zn6GRHbzAGZza2H7oUlgjDaA/edit?usp=sharing&authuser=0" target="_blank" rel="noopener noreferrer" class="list-group-item"><i class="fa fa-google fa-lg fa-fw" style="margin-right: 16px;"></i>Google Docs</a>
		</div>

		<div style="margin-top: 30px;">
			<div class="list-group-item active">Contact</div>
			<a href="mailto:bradyep@gmail.com" class="list-group-item"><i class="fa fa-envelope-o fa-lg fa-fw" style="margin-right: 16px;"></i>Email: bradyep@gmail.com</a>
			<a href="https://github.com/bradyep" target="_blank" rel="noopener noreferrer" class="list-group-item"><i class="fa fa-github fa-lg fa-fw" style="margin-right: 16px;"></i>GitHub: bradyep</a>
			<a href="https://www.google.com/maps/place/Eagan,+MN" target="_blank" rel="noopener noreferrer" class="list-group-item">
				<i class="fa fa-map-marker fa-lg fa-fw" style="margin-right: 16px;"></i>
				Residence: Eagan, MN
			</a>
		</div>
	</div><!-- /.blog-post -->
</div><!-- /.blog-main -->
