@model DSCMS.Models.ContentType

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
  <div class="form-horizontal">
    <h4>ContentType</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContentTypeId" />
    <div class="form-group">
      <label asp-for="Description" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="Name" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="TemplateId" class="control-label col-md-2"></label>
      <div class="col-md-10">
        <select asp-for="TemplateId" class="form-control" asp-items="ViewBag.TemplateId"></select>
        <span asp-validation-for="TemplateId" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="Title" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="ItemsPerPage" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="ItemsPerPage" class="form-control" />
        <span asp-validation-for="ItemsPerPage" class="text-danger" />
      </div>
    </div>

    <h4>ContentType Items</h4>
    <p>
      <a asp-controller="ContentTypeItems" asp-action="Create">Create New ContentType Item</a>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.ContentTypeItems)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              <a asp-controller="ContentTypeItems" asp-action="Edit" asp-route-id="@item.ContentTypeItemId">Edit</a> |
              <a asp-controller="ContentTypeItems" asp-action="Delete" asp-route-id="@item.ContentTypeItemId">Delete</a>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
