@model DSCMS.Models.ContentType

@{
  Layout = (string)ViewData["Layout"];
}

<div class="col-sm-8 blog-main">

  <div class="blog-post">
    @*<h1>About</h1>*@

    <div style="margin-top: 30px;">
      @*<ul class="list-group">*@
        <li class="list-group-item active">Resume</li>
        <a href="#" class="list-group-item"><i class="fa fa-html5 fa-lg fa-fw" style="margin-right: 16px;"></i>HTML</a>
        <a href="#" class="list-group-item"><i class="fa fa-file-word-o fa-lg fa-fw" style="margin-right: 16px;"></i>Word</a>
        <a href="#" class="list-group-item"><i class="fa fa-google fa-lg fa-fw" style="margin-right: 16px;"></i>Google Docs</a>
      @*</ul>*@
    </div>

    <div style="margin-top: 30px;">
      @*<ul class="list-group">*@
        <a href="#" class="list-group-item active">Contact</a>
        <a href="#" class="list-group-item"><i class="fa fa-envelope-o fa-lg fa-fw" style="margin-right: 16px;"></i>Email: bradyep@gmail.com</a>
        <a href="#" class="list-group-item"><i class="fa fa-twitter fa-lg fa-fw" style="margin-right: 16px;"></i>Twitter (Software): @@SyntonicStudios</a>
        <a href="#" class="list-group-item"><i class="fa fa-twitter fa-lg fa-fw" style="margin-right: 16px;"></i>Twitter (Personal): @@BloodCircuit</a>
        <a href="#" class="list-group-item"><i class="fa fa-github fa-lg fa-fw" style="margin-right: 16px;"></i>GitHub: SyntonicStudios</a>
        <a href="#" class="list-group-item"><i class="fa fa-map-marker fa-lg fa-fw" style="margin-right: 16px;"></i>Residence: St. Paul, MN</a>
      @*</ul>*@
    </div>

  </div><!-- /.blog-post -->

</div><!-- /.blog-main -->
