@model DSCMS.Models.ContentType

@{
  Layout = (string)ViewData["Layout"];
}

<div class="col-sm-8 blog-main">

  <div class="blog-post">
    <h2 class="blog-post-title">Experiments</h2>

    <div>Bunch of Experiments Text Goes Here</div>

  </div><!-- /.blog-post -->

</div><!-- /.blog-main -->
