@model DSCMS.Models.ContentType

@{
  Layout = (string)ViewData["Layout"];
  /// Layout = null;
}

<div class="col-sm-8 blog-main">

  <div class="blog-post">
    @*<h1>About</h1>*@

    <div style="margin-top: 30px;">
      @*<ul class="list-group">*@
        <div class="list-group-item active">Resume</div>
        <a href="brady-prigge-resume-html" class="list-group-item"><i class="fa fa-html5 fa-lg fa-fw" style="margin-right: 16px;"></i>HTML</a>
      <a href="../raw/resume/bradyPrigge.docx" class="list-group-item"><i class="fa fa-file-word-o fa-lg fa-fw" style="margin-right: 16px;"></i>Word</a>
      <a href="../raw/resume/bradyPrigge.pdf" class="list-group-item"><i class="fa fa-file-pdf-o fa-lg fa-fw" style="margin-right: 16px;"></i>PDF</a>
        <a href="../raw/resume/bradyPrigge.odt" class="list-group-item"><i class="fa fa-linux fa-lg fa-fw" style="margin-right: 16px;"></i>OpenDocument</a>
        <a href="https://docs.google.com/document/d/13aMFaBvtoZJW6AOYRjIiptguB0gSsVJhSkVKNkIPg4g/edit?usp=sharing" class="list-group-item"><i class="fa fa-google fa-lg fa-fw" style="margin-right: 16px;"></i>Google Docs</a>
      @*</ul>*@
    </div>

    <div style="margin-top: 30px;">
      @*<ul class="list-group">*@
        <div class="list-group-item active">Contact</div>
        <a href="mailto:bradyep@gmail.com" class="list-group-item"><i class="fa fa-envelope-o fa-lg fa-fw" style="margin-right: 16px;"></i>Email: bradyep@gmail.com</a>
        <a href="https://github.com/SyntonicStudios" class="list-group-item"><i class="fa fa-github fa-lg fa-fw" style="margin-right: 16px;"></i>GitHub: SyntonicStudios</a>
        <a href="https://twitter.com/syntonicstudios" class="list-group-item"><i class="fa fa-twitter fa-lg fa-fw" style="margin-right: 16px;"></i>Twitter (Software): @@SyntonicStudios</a>
        <a href="https://twitter.com/bloodcircuit#" class="list-group-item"><i class="fa fa-twitter fa-lg fa-fw" style="margin-right: 16px;"></i>Twitter (Personal): @@BloodCircuit</a>
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjGpPmuyabOAhXBQCYKHaEpDs4QFggeMAE&url=https%3A%2F%2Fwww.google.com%2Fmymaps%2Fviewer%3Fmid%3D14a5JtaCSlHzn0Uv4gDPpZL05frI%26hl%3Den_US&usg=AFQjCNHN3GKM4qBVfKXRPKlvprBrtxejWA&sig2=B7cJANgXwzt_gA7GHGkSzw&bvm=bv.128617741,d.eWE" class="list-group-item"><i class="fa fa-map-marker fa-lg fa-fw" style="margin-right: 16px;"></i>Residence: St. Paul, MN</a>
      @*</ul>*@
    </div>

  </div><!-- /.blog-post -->

</div><!-- /.blog-main -->
